<div class="blog-entry">
    <img class="banner-image" alt="Image for {{ title }}" src="{{ image }}" />
    <p class="in-blog"><span>{{ date }}</span> &bull; In Blog</p>
    <h4 class="title">
        {{ title }}
    </h4>
    <div class="description">
        {{ description }}
    </div>
    <a class="button more-link" href="{{ link }}">
        Continue Reading
    </a>
</div>
